{% extends 'layout.html.twig' %}

{%  block main %}
    <div class="row">
       <div class="col" style="text-align: center;">
           <div style="padding-top: 5%;">
               <h4>A propos</h4>
               <div  style="width: 80%; margin: auto;margin-top: 5%;">
                   <p>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in ornare lectus. Maecenas cursus sit amet libero eu auctor. Mauris et turpis enim. Nam a turpis vel massa faucibus viverra. Cras ullamcorper, magna in ultrices commodo, turpis orci aliquet massa, sed molestie orci mi et arcu. In mattis sapien ipsum, sit amet sagittis sem maximus non. In turpis neque, placerat ac interdum non, sollicitudin a lectus. Nam tempus, erat vel auctor commodo, dolor lorem dignissim purus, vel tincidunt metus dolor a est. Quisque odio tellus, scelerisque eget porttitor in, malesuada id eros. Ut posuere quam urna, et tincidunt felis aliquam eu.
                   </p>
                   <p style="margin-top: 5%;">
                   Donec diam risus, tincidunt sed varius non, lobortis sit amet justo. Aliquam in condimentum urna, vel porttitor turpis. Fusce sit amet placerat nisi, ac finibus nulla. Nullam in risus accumsan, accumsan eros at, feugiat turpis. Pellentesque non placerat massa. Etiam iaculis, eros nec sodales ultrices, nisi nisi eleifend velit, id ullamcorper dui nunc ac lacus. Duis sit amet bibendum mi. Suspendisse viverra augue sit amet sem pretium malesuada. Nulla quis libero metus.
                   </p>
               </div>
           </div>

       </div>
    </div>


{% endblock %}

