.blocka {
    color: black;
    text-decoration: none;
}
.blocka:hover {
    color: black;
    text-decoration: none;
}

.blocklink:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

.blockmenu {
    text-decoration: none;
}

.blockmenu > a {
    text-decoration: none;
}

.blockmenu:hover {
    background-color: rgba(190, 190, 190, 0.25);
}