{% extends 'layout.html.twig' %}

{%  block main %}

    <div class="row">
        <div class="col">
            <div style="text-align: center;">
                <div class="card" style="width: 60%; margin: auto; margin-top: 10%; padding: 5%;">

                    <h4 style="color: brown;">Liste des termes trouvés</h4>
                    <div style="height: 450px;">
                        <div style="overflow: scroll; height: 100%; margin-right: 5%; margin-top: 5%; width: 100%;">
                            <div style="padding-bottom: 10%;">
                                {% for term in terms %}
                                    <div>
                                        {{ term.term  }}
                                    </div>
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

